SPRING_PROFILES_ACTIVE=mysql
APP_DATASOURCE_URL=jdbc:mysql://localhost:3306/smarthome_store?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Ho_Chi_Minh&allowPublicKeyRetrieval=true&useSSL=false
APP_DATASOURCE_USERNAME=smarthome
APP_DATASOURCE_PASSWORD=smarthome123
APP_JPA_HIBERNATE_DDL_AUTO=update
